name: CI Pipeline - Unigalactix/dotnet
on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]
env:
  CI: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'       
      - name: Restore dependencies
        run: dotnet restore src/bc-readme-gen/bcreadgen.csproj
        
      - name: Build
        run: dotnet build src/bc-readme-gen/bcreadgen.csproj   
        
      - name: Test
        run: dotnet test src/bc-readme-gen/bcreadgen.csproj     


  security-scan:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      actions: read
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: csharp
      - name: Autobuild
        uses: github/codeql-action/autobuild@v3
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3


  deploy:
    runs-on: ubuntu-latest
    needs: [build, security-scan]
    environment: Production
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'payment-service-prod' 
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: .
